# the following requirements require a build step on an Alpine base image
uvicorn==0.13.4
gunicorn==20.1.0
uvloop==0.15.2
httptools==0.2.0
pyproj==2.6.1

# postgresql data source deps
psycopg2==2.8.6
asyncpg==0.23.0